 .content_photogallery { 
	background: transparent;
    overflow: hidden;
    padding-bottom: 100px;
    margin-left: 275px;
    h3 {
	    margin-top: 0;
	    font-weight: bold;
	    margin-bottom: 27px;
	    font-size: 18px;
	    font-family: verdana;
    }
  }

.gallerywrap {
    border-top: 4px solid black;
}

.titleb {
	font-weight: bold;
	font-size: 12px;
	margin: 5px 5px;
}