.dropdown {
    display: none;
    width: 222px;
    border: 3px solid #c32429;
    padding: 0 6px;
    z-index: 100;
    background: #fff;
}

.drowdecor {
    border-bottom: 1px solid #e5e5e5;
    list-style: none;
    text-align: left;
    &:hover {
        background: #e5e5e5;
    }
    a {
        display: block;
        font-size: 12px;
        text-decoration: underline;
        font-weight: bolder;
        padding-left: 8px;
        line-height: 28px;
        padding-bottom: 2px;
    }
}

                 //header-dropdown//

.header-dropdown {
    display: none;
    background: #c32429;
    padding: 8px 12px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -2px;
    z-index: 10;
}

.header-dropdown_name {
    color: #fff;
    font-size: 11px;
    font-weight: normal;
}

.header-dropdown_input {
    border: none;
    width: 100%;
    height: 18px;
}

.header-dropdown_btn {
    text-align: right; 
}

.header-dropdown_btn {
    input {
        border: none;
        margin-top: 5px;
        font-size: 11px;
        background-color: #fed900;
        width: 74px;
        padding-bottom: 2px;
        padding-top: 2px;
    }
}

.close_up {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
}

.all_contacts-dropdown {
  border: 1px solid #fed900;
  padding: 10px 14px;
  position: relative;
  background-color: #fff;
  width: 270px;
  i {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #c32429;
    font-size: 12px;
  }
}

.all_contacts-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  img {
    float: left;
  }

  li {
    padding-bottom: 6px;
    font-size: 17px;
  }

  span {
    display: block;
    font-weight: normal;
    margin-left: 30px;
    font-size: 16px;
  }
}

.all_contacts-listsecond {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  a {
    text-decoration: none;
    border-bottom: 2px dotted #c32429;
    color: #c32429;
    margin-left: 7px;
    font-size: 15px;
  }

  li {
    margin-bottom: 5px;
  }
}



/*.all_contacts-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.all_contacts {
    &:hover {
        .all_contacts-dropdown {
            display: block;
        }
    }
}*/
