.footer {
	border-bottom: 6px solid #c32428;
	&_wrapper {
		overflow: hidden;
		padding: 0 13px;
		.footer_nav {
			padding-left: 0px;
			overflow: hidden;
			margin-bottom: 0;
			background: #333333;
			padding: 5px 29px;
			margin-bottom: 5px;
		}

		.footer_nav__item {
			list-style-type: none;
			float: left;
			width: 256px;
			font-weight: bold;
			font-size: 17px;
		}

		.footer_nav__link {
			padding: 0 7px;
			display: inline-block;
			text-decoration: none;
			color: #333333;
			font-size: 16px;
			font-weight: bold;
			font-family: verdana;
			background: #fed900;
		}

		.footer_menu {
			float: left;
			padding-left: 30px;
			width: 258px;
			margin-bottom: 0;
		}


		.footer_menu__item {
			list-style-type: none;
		}  

		.footer_menu__link {
			display: inline-block;
			color: #333333; 
			font-family: verdana;
			font-weight: bold;
			padding: 3px 4px;
			text-decoration: none;
			font-size: 12px;
			&:hover {
			 background-color: #c32429;
			 color: #fff;
		    }
		}
	}
}

.menu_wrapper {
    float: left;
    padding-bottom: 5px;
}

.social {
    margin-top: 18px;
    width: 300px;
    border-left: 0.5px solid #333333;
    overflow: hidden;
    background: transparent;
    float: right;

    &_wrapper {
    	padding-left: 11px;

    	h4 {
    		font-size: 12px;
    		margin-bottom: 12px;
    		font-family: verdana;
    	}

    	ul {
    		padding-left: 0;
    		overflow: hidden;
    		margin-bottom: 15px;
    	}

    	li {
    		list-style-type: none;
    		float: left;
    	}

    	a {
    		padding-right: 16px;
    		display: inline-block;
    	}

    	span {
    		display: inline-block;
    	    background: #e5e5e5;
            font-size: 11px;
            line-height: 18px;
            font-family: verdana;
            font-size: 12px;
            font-weight: bold;
            padding: 8px 60px 40px 8px;
            display: block;

    	}
    }

}









