.header {
	border-top: 6px solid #c32428;
	&_wrapper {
	    padding: 10px 13px;
	    background: #fff;
	}

	&_logo {
		float: left;
        width: 370px;
	}

	&_delivery {
	    text-align: right;
      width: 162px;
	    display: inline-block;
	    font-weight: bold;
      line-height: normal;
	    float: left;

	    span {
	      font-size: 16px;
        text-align: right;
	    }
	}

	&_info {
        display: inline-block;
        float: left;
        margin-left: 54px;
        width: 233px;

        a {
        	text-decoration: none;
        }

        .capital {
        	font-size: 24px;
        	text-indent: 2px;
        	font-weight: normal;
        }

        span {
            font-size: 14px;
		        font-weight: bold;
            font-family: verdana;
        }

        .info_img {
            margin-right: 13px;
            margin-top: 8px;
            float: left;
        }

        .back_call {
            overflow: hidden;
            display: block;
            font-family: verdana;
            border-bottom: 2px dotted #c22328;
            padding: 3px;
            color: #c32429;
            font-weight: 200;
            padding-bottom: 2px;
        }
	}

	&_basket {
       width: 241px;
       border: 5px solid #fed900;
       padding:  20px;
       float: right;
	}

	&_contain {
		  margin-top: 5px;
      margin-left: 395px;
	}
}

.all_contacts {
	  margin-top: 10px;
    padding: 1px 7px;
    background: $primary ;
    position: relative;
    width: 147px;
    &:hover {
      .all_contacts-dropdown {
        display: block;
      }
    }
     .all_img {
     	   margin-top: 4px;
        float: right;
     }

     a {
     	color: #333333;
     }   	
  }

.basket_field {
	.shopping {
        border-bottom: 2px dotted black;
        font-size: 20px;
        padding: 3px;
        font-family: verdana;
        line-height: 36px;
        margin-left: 10px;
	}

	.info_basket {
		    display: inline-block;
        font-size: 14px;
        font-family: verdana;
	}
}

.entrance {
  position: relative;
   &:hover {
      .dropdown-entrance {
        display: block;
        }
      .entrance_link {
        text-decoration: none;
        color: #fff;
        background-color: #c32429;
        }
      }
  .entrance_link {
    font-family: FontAwesome;
    color: black;
    float: right;
    padding: 4px 5px;
      &:before {
      content:  "\f09c";
      margin-right: 5px;
      }
      &:hover {
      text-decoration: none;
      color: #fff;
      background-color: #c32429;
    }
  }
}

.dropdown-entrance {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #c32429;
  width: 260px;
  padding: 13px 14px;
  a {
    text-decoration: underline;
    color: #FFf;
    font-size: 13px;
  }

  input {
    width: 100%;
    height: 20px;
    border: none;
    padding-left: 6px;
  }

  .entrance_btn {
    display: block;
    float: right;
    color: #000;
    background-color: #fed900;
  }

  .entrance_btn-input {
    background-color: #fed900;
    padding: 2px 14px;
    line-height: normal;
    }
}

.header-wrapper_info {
  position: relative;
  &:hover {
    .header-dropdown {
      display: block;
    }
  }
}

