.main_content {
	padding: 0 13px;
	padding-bottom: 50px;

	&__left {
	   width: 255px;
	   float: left;

	}
	&__wrapper {
		margin-top: 20px;
		position: relative;
	}
}

.main_menu__overlay {

	ul {
		padding-left: 0;
		margin-bottom: 0;
	}

	.subparagraphs {
		color: #fff;
	    background-color: #c32429;
	    font-size: 14px;
	    font-family: verdana;
	    padding: 6px 15px 5px 12px;
	    display: block;
	}

	li {
		list-style: none;
		border-bottom: 1px solid #e5e5e5; 
		border-left: 8px solid transparent;
		display: block;
		line-height: normal;
		&:hover {
			background: #e5e5e5;
			border-left: 8px solid #fed900;
		}
	}

	.active {
		background-color: #fed900;
		margin-bottom: 3px;
	}

	a {
		display: block;
		padding: 6px 0;
		text-decoration: none;
		font-family: verdana;
		font-size: 12px;
		color: #333333;
		font-weight: bold;
		padding-left: 4px;
	}

	img {
		float: right;
        margin-right: 14px;
        margin-top: 0.7em;
	}

	span {
		display: inline-block;
		padding: 0px 15px px 4px;
		font-weight: bold;
	}

	.appearancee {
		color: #fff;
		background-color: #c32429;
		font-size: 18px;
		&:hover {
			 background-color: #c32429;
			 border-left: 0px;
		}
	}
}

.main_content__right {
        background: transparent;
        overflow: hidden;
        margin-left: 275px;

    h3 {
    	margin-top: 0;
    	font-weight: bold;
    	margin-bottom: 40px;
    	font-size: 18px;
    	font-family: verdana;
    }

    p {
    	display: inline;
    	font-size: 12px;
    	font-family: verdana;
    }

    span {
        text-align: right;
        float: right;
        line-height: normal;
    }

    .spansize {
    	font-size: 36px;
    }

    .palka {
    	font-size: 29px;
    	font-family: verdana;
    }
}

.wrapper_img {
	display: inline-block;
	margin: 0px 14px 9px 0;
	float: left;
}


//contactright.html//

.right_contact {
	background: transparent;
    margin-left: 275px;
    overflow: hidden;
    h3 {
    	margin-top: 0;
    	font-weight: bold;
    	margin-bottom: 27px;
        font-size: 18px;
        font-family: verdana;
    	display: inline-block;
    }

}

.contacti {
	display: inline-block;
	background: transparent;
	width: 450px;
	&_caption {
		color: #c32429;
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 15px;
		font-weight: bold;
	}
	
	.contacti_item {
		list-style: none;
		padding-bottom: 15px;
		font-size: 17px;
	}

	.contactispan {
		margin-left: 35px;
		display: block;
	}

	img {
		float: left;
		margin-right: -15px;
	}
}

.e_mail {
	.e_mail__img {
		margin-right: 0;
		margin-top: 4px;
	}

	.e_mail__link {
		text-decoration: none;
		border-bottom: 2px dotted #c32429;
		color: #c32429;
		margin-left: 17px;
		font-size: 15px;
	}

}

.appearance {
	color: #000000;
	margin-left: 0;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
	display: inline-block;
}

.address {
	display: block;
	color: #000000;
}

.p_mail {
	padding-bottom: 0;
	list-style: none;
}

.padding_l {
	padding-left: 25px;
}

.feedback {
    float: right;
    width: 250px;
    background: transparent;
    overflow: hidden;
}

.example_form {
	padding: 15px;
	border: 2px solid #c32429;
}


.input_group{
	margin-bottom: 11px;
	.form-control {
		border-radius: 1px;
		background-color: #e5e5e5;
		border: 1px solid rgba(158, 158, 158, 0.8);
		&:focus {
			box-shadow: none;
			border-color: rgba(158, 158, 158, 0.8);
		}
	 }
}
textarea.form-control {
    height: 150px; 
}

.d_form {
	height: 23px;
}

.form_btn {
	text-align: center
}

.form_btn__bt {
		padding: 11px 40px;
	    background-color: #c32429;
	    border: none;
    	font-weight: bold;

		.form_btn__link {
			color: #fff;
			text-decoration: none;
		}
	}


.map {
	margin-top: 40px;
	&_img {
		
		background-color: transparent;
		border-top: 4px solid black;
		border-bottom: 1px solid black;
		padding: 5px 0;
	}
}

.map_img__contain {
	height: 432px;
	background-color: transparent;
}

//katalogright.html//

.right_katalog {
	background: transparent;
    margin-left: 275px;
    overflow: hidden;
    a {
    	text-decoration: none;
    	color: black;
    	font-size: 15px;
    }

    h3 {
     	margin-top: 10px;
     	font-weight: bold; 
     	text-transform: uppercase;
     	font-family: verdana ;
     	margin-bottom: 13px;
     	font-size: 18px;
    }

	.mainbott {
		border-bottom: 1px solid black;
	}

	.mainbottactive {
		color: red;
		border-bottom: 1px solid red;
	}

	.indentationspan {
		display: inline-block;
		text-indent: 4px;
	}


}


.linkcolor {
	padding: 0 4px;
	background-color: #fed900;
}

.indents {
	margin: 0 2px;
	font-weight: bold;
}

.allpages {
	margin-top: 3px;
}

.pagel {
	width: 300px;
	float: left;
}

.pageri {
	overflow: hidden;
    text-align: right;
}


.rowpage {
	margin-top: 17px;
	margin-bottom: 45px;
	.box {
		background-color: transparent;
		padding: 0 12px;
		padding-top: 5px;
		margin-bottom: 25px;
		&:hover {
			background-color: #fed900;
		}

		&_content {
	        border-bottom: 4px solid black;
		}

		&_img {
			height: 288px;
            background-size: cover;
            background-position-x: center;
            background-repeat: no-repeat;
		}
	}
}

.paddr {
	padding-right: 0px;
}

.paddl {
	padding-left: 0px;
}

.box_info {
	padding-bottom: 6px;
    padding-top: 3px;
}

.info_value {
	color: #c32429;
	font-weight: bold;
	font-size: 14px;
	font-family: verdana;
	display: block;
}

.info_title {
	line-height: 11px;
    display: block;
    height: 34px;
    font-size: 12px;
    font-family: verdana;
}


//additionalcontent//

.additional_content {
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	position: relative;

	.viewss {  
        position: relative;
        padding: 15px 0;
        padding-bottom: 45px;
		span {
		  font-size: 16px;
          background: #fed900;
          padding: 4px 30px;
          top: -18px;
          font-family: verdana;
          left: 42%;
          font-weight: bold;
          position: absolute;
          z-index: 20;
		}

		ul {
			padding: 0 40px;
			display: table;
			width: 100%;
			overflow: hidden;
			position: relative;
		}

		li {
			list-style-type: none;
			background: transparent;
			display: table-cell;
            border: 4px solid transparent;
            text-align: center;
            &:hover {
            	border: 4px solid  #fed900;
            }
		}

	}
}

.next {
	position: absolute;
	display: block;
    margin: auto 10px;
    bottom: 0;
    top: 0;
}

.prev {
	position: absolute;
	display: block;
    margin: auto 10px;
    bottom: 0;
    top: 0;
    left: 2px;
}

.vogue {
	height: 200px;
	margin-top: 19px;
}

.log {
	width: 55px;
	float: left;
}

.vogutext {
	overflow: hidden;
	margin-left: 70px;
	h3 {
		margin-top: 0;
		font-weight: bold;
		    font-size: 24px;
    font-family: verdana;
	  }

	 p {
	 	font-family: verdana;
	 	font-size: 12px;
	 }
} 




//
.test {
	font-family: verdana;
	font-size: 12px;
	font-weight: normal;
}

input:checked ~ .test {
    color: red;
    font-family: verdana;
}


.switch {
	display: block;
}

.t_color {
	font-weight: bold;
}

.color_selection {
	width: 165px;
	margin: 0 auto;
	float: left;
	li {
		border: none;
		&:hover {
		  border-left: none; 
		  background: none;
		}
	}
}


.cena, .razmer, .cvet {
	height: 30px;
	margin-bottom: 8px;
	border: 1.5px solid #c32429;
}

.formcom {
	overflow: hidden;
}

.commentform {
    font-size: 15px;
    float: left;
    margin-right: 7px;
    input {
    	    background: #fff;
		    border: 1px solid #262626;
		    font-family: Verdana,Arial,Helvetica,sans-serif;
		    font-size: 12px;
		    padding: 4px;
		    height: 24px;
		    width: 64px;
		    color: #000000;
    }

    small {
    	font-size: 12px;
    	font-family: verdana;
    	font-weight: 300;
    }
}

input:focus {
	outline : none;
}

label {
	margin-bottom: 0;
}


.colsel {
	overflow: hidden;
	width: 154px;
	margin: 0 auto;

}

.btn {
	background-color: #c32429;
	border-radius: 0;
	border: none;
	padding: 0px 9px;
	float: right;
	a {
		text-decoration: none;
		color: #fff;
	    font-size: 12px;
        font-family: verdana;
        padding:4px 0;
	}
}

.spisok {
	max-height: 288px;
	overflow: auto;
}

.color_selection {
	overflow: hidden;
	li {
        float: left;
        list-style-type: none;
        margin-right: 7px;
	}

	a {
		padding: 3px 0;
	}
}


.colc {
	    height: 22px;
	    width: 22px;
	    display: block;
	}

.reset {
    font-size: 13px;
    background: #fed900;
    font-family: verdana;
    font-weight: bold;
    padding: 0px 25px;
     a {
     	 color: #000;
     	 text-decoration: none;
     }
}

.resetwrapp {
	text-align: center;
	margin-top: 38px;
}

.to_top {
	padding: 0;
    position: absolute;
    bottom: 0;
    left: 8%;
    background: transparent;
    border: none;
    a {
    	display: inline-block;
    	padding: 0;
    }

    img {
    	margin: 0;
    }
}

         //accordion//

.accordion {
	h3 {
		background-color: #fed900;
		font-size: 14px;
		font-weight: bold;
		padding: 6px 13px;
	}
}


//navigationkatalog.html


.menu_overlay {
	ul {

	}

	li {
	}

	a {
		&:after {
			content: "";
			height: 16px;
			width: 16px;
            display: inline-block;
            vertical-align: middle;
			background: url(../../images/icons/ui-icons_444444_256x240.png) no-repeat -32px -1px;
		}
	}
}