
.menu {
	background: #e5e5e5;
	border-top: 3px solid #333333;
	border-bottom: 1px solid #333333;
	margin: 0 13px;

	&_overlay {
		padding: 0 13px;
		overflow: hidden;

	ul {
		padding-left: 0;
		overflow: hidden;
        margin-bottom: 0;
        width: 100%;
        display: table;
	}

	li {
		list-style: none;
		display: table-cell;
		padding: 8px;
		text-align: center;
	} 

	a {
		font-size: 14px;
	    text-decoration: none;
	    display: inline-block;
	    line-height: 36px;
	    font-family: verdana;
	    color: #333333;
	    font-weight: bold;
	}
  }
}

.second_menu {
	background: #fed900;
	border-bottom: 1px solid #c32429;
	margin: 0 13px;
	a {
		padding-left: 8px;
	}

	.search {
		padding: 5px;
		float: right;

		.input {
			border-radius: 14px;
		    border: 0;
		    padding: 4px;
		    border: 1px solid rgba(158, 158, 158, 0.69);
		    width: 343px;

		    &:focus {
		    	outline: none;
		    }

		}

		img {
		    	margin-left: 8px;
		    	width: 18px;
		    }

		 &_link {

		 }
	}
}







