.reviews {
	background: #fed900;
    top: 50%;
    z-index: 90;
    left: 0;
    bottom: 0;
    margin: auto;
    margin-top: 88px;
    height: 33px;
    padding: 5px 18px;
    transform: rotate(-90deg);
    transform-origin: top left;
    position: fixed;
    a {
    	text-decoration: none;
    	color: #333333;
    	font-size: 16px;
    	font-weight: bold;
    }

    img {
    	margin-right: 7px;
    }
}