.contentpage {
	background: transparent;
    overflow: hidden;
    padding-bottom: 20px;
    margin-left: 275px;
    h3 {
	    margin-top: 0;
	    font-weight: bold;
	    margin-bottom: 27px;
	    font-size: 18px;
	    font-family: verdana;
    }
}


.formpage {
	padding-bottom: 10px;
	background: #e5e5e5;
}

.form_wrapp {
	padding: 15px 78px 17px 15px;
	overflow: hidden;
}

.fieldd {
	width: 96px;
	height: 38px;
}

.field_size {
	width: 406px;
	margin-left: 8px;
}

.kont_tel {
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 0;
	display: inline-block;
	margin-right: 30px;
	float: left;
}

.infa_about__bodies {
	font-size: 13px;
	margin-bottom: 30px;
    line-height: normal;
    color: #333333;
    margin-top: 15px;
}

.btn_size {
	font-size: 12px;
}

.sentence {
    border-left: 5px solid #fed900;
    line-height: normal;
    padding-left: 9px;
    font-size: 12px;
    font-weight: bold;
}

.linkform {
	color: #c32429;
	text-decoration: underline;
}

.star {
	color: #c32429;
}

.correction {
	float: left;
	font-size: 12px;
	color: #333333;
	margin-bottom: 18px;
	cursor: pointer;
	width: 115px;
}

textarea:focus {
	outline: none;
}

.calculation {
	font-size: 11px;
    font-weight: bold;
    color: #464646;
    text-decoration: underline;
    &:hover {
    	  color: #464646;
    }
}

.wrapp_left {
	width: 405px;
	float: left;
}

.form_right {
	float: right;
    overflow: hidden;
    margin-top: 5px;
}

select:focus {
	outline: none;
}

option:focus {
	outline: none;
}

.correctionn {
	font-size: 12px;
	color: #333333;
	margin-bottom: 5px;
}

.fl_r {
	width: 227px;
}

.delivery {
	font-size: 13px;
	font-weight: bold;
	margin-top: 65px;
	text-align: right;
	margin-right: 17px;
	color: #333333;
}

.shipping_cost {
	font-size: 16px;
}

.marrr {
	margin: 0;
}

.marbottom {
	margin-bottom: 10px;
}

.mar_bottom {
	margin-bottom: 40px;
}

.wrapperr {
	background: #e5e5e5;
	padding-bottom: 15px;
}

.form_overlay {
    border-top: 4px solid black;
    border-bottom: 1.5px solid black;
    padding: 5px 0;
}

.forma_z {
    font-size: 15px;
    color: #c32429;
    font-weight: bold;
}




.ololo {
	width: 115px;
	float: left;
}

.omnom {
	overflow: hidden;
	margin-left: 120px;
}

.bottom_indent {
	margin-bottom: 10px;
	width: 100%;
}

.textarea {
	width: 100%;
	height: 90px;
}