<div class="additional_content">
  <div class="viewss">
	<span>Вы смотрели (29)</span>
	 <ul class="slider">
	  	<li>
	  		<a href="">
	  			<img src="../../images/Слой-99.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a href="">
	  			<img src="../../images/Слой-100.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a href="">
	  			<img src="../../images/Слой-101.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a href="">
	  			<img src="../../images/Слой-102.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a href="">
	  			<img src="../../images/Слой-103.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a href="">
	  			<img src="../../images/Слой-104.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a href="">
	  			<img src="../../images/Слой-105.jpg">
	  		</a>
	  	</li>
	  	<li>
	  		<a href="">
	  			<img src="../../images/Слой-106.jpg">
	  		</a>
	  	</li>
	  	<a href="">
	  	  <img src="../../images/icons/Слой-52-копия-4.png" class="next">
	  	</a>
	  	<a href="">
	  	  <img src="../../images/icons/Слой-52-копия-5.png" class="prev".prev>
	  	</a>
   </ul>
  </div>
</div>
 <div class="vogue">
	 <div class="log">
	 	<img src="../../images/icons/logo-копия-2.png">
	 </div>
	 <div class="vogutext">
		<h3>О женской моде</h3>
		<p>&laquo Модна країна &raquo предлагает широкий ассортимент посуды, наюор кастрюлей, блюда, чайники, заварники, сервизы, фраже, кухонные принадлежности, бытовая техника, пылесосы, утюги, фены, телефоны, электрочайники, мужская одежда, женская одежда, женский трикотаж, мужские куртки, нижнее белье, пижамы, мужские футболки, женские футболки, носки, женские колготы, джинсовая одежда, детская одежда, спортивная одежда, спортивная обувь, женские туфли, оптом и в розницу, а так же сопутствующих товаров, благодаря которым Вы получите максимальное удовлетворение. </p>
		<p>Ассортимент наших товаров и даже свадебные платья постоянно пополняется. Мы способны удовлетворить самых требовательных потребителей, у нас Вы можете выбрать свадебные аксесуары. </p>
		<p>Мы всегда рады Вам !</p>
	 </div>
 </div>


<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->

<!--<script>

	alert();

</script>-->


