
 <div class="right_contact">
      <div class="page_wrapp">
        <h3>КОНТАКТЫ</h3>
          <div class="right_contact__field">
                <div class="contacti">
                  <h4 class="contacti_caption">СВЯЖИТЕСЬ С НАМИ ПО ТЕЛЕФОНАМ:</h4>
                  <ul class="padding_l">
                    <img src="../../images/icons/Слой-117.png">
                     <li class="contacti_item">
                        <span class="contactispan">+380 (63) 815-55-50</span>
                     </li>
                      <li class="contacti_item">
                        <span class="contactispan">+380 (63) 373-88-88</span>
                      </li>
                      <li class="contacti_item">
                         <span class="contactispan">+380 (63) 361-99-90</span>
                       </li>
                      <li class="contacti_item">
                          <span class="contactispan">+380 (97) 923-47-77</span>
                      </li>
                    </ul>
                          <span class="appearance">по электронному адресу:</span>
                      <ul class="e_mail padding_l">
                         <li class="p_mail">
                            <img class="e_mail__img" src="../../images/icons/Слой-116.png">
                            <a class="e_mail__link" href="">torg-ua79@mail.ru</a>
                          </li>
                      </ul>
                            <span class="appearance">по скайпу:</span>
                      <ul class="e_mail padding_l">
                           <li class="p_mail">
                             <img class="e_mail__img" src="../../images/icons/Слой-115.png">
                              <a class="e_mail__link" href="">Jakubmosaid</a>
                          </li>
                      </ul>
                      <span class="appearance">адрес:</span>
                      <span class="address">г. Одесса, 7-ой км Овидиопольского шоссе, ул. <br>
                       Базовая 17, ТВК "Нове Місто", Одесса Одесская <br>
                       область, 65001, Украина
                       </span>
                    </div>
                     <div class="feedback">
                      <h4 class="contacti_caption">ОБРАТНАЯ СВЯЗЬ</h4>
                           <form class="example_form">
                                <span><em>ФИО</em></span>
                                <div class="input_group">
                                  <input type="text" class="form-control d_form">
                                </div>
                                <span><em>E-mail</em></span>
                                <div class="input_group">
                                  <input type="text" class="form-control d_form">
                                </div>
                                <span><em>Текст сообщения</em></span>
                                <div class="input_group">
                                  <textarea type="text" class="form-control l_form"></textarea>
                               </div>
                              <div class="form_btn">
                              <button class="form_btn__bt"> ОТПРАВИТЬ </button>    
                            </div>
                          </form>
                     </div>
              </div>
        </div>
        <div class="map">
            <div class="map_field">
                <h4 class="contacti_caption">МЫ НА КАРТЕ:</h4>
                <div class="map_img">
                      <div class="map_img__contain" style="background-image: url(../../images/icons/Слой-119.png);">
                      </div>
                 </div>
            </div>
        </div>
  </div>