<div class="content_photogallery">
	<h3>ФОТОГАЛЕРЕЯ</h3>
	<div class="gallerywrap">
		<div class="rowpage">
			<div class="row" style="margin-left: -12px;">
				<div class="col-md-3 paddl">
					<div class="box">
						<div class="box_content">
							<div class="box_field">
								<div class="box_img" style="background-image: url(../../images/Слой-111.jpg);">
								</div>
								<div class="box_info text-center">
									<h6 class="titleb">ВАША СВАДЬБА</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="box">
						<div class="box_content">
							<div class="box_field">
								<div class="box_img" style="background-image: url(../../images/Слой-34.jpg);">
								</div>
								<div class="box_info text-center">
								<h6 class="titleb">ЖЕНСКАЯ ОДЕЖДА </h6>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="box">
						<div class="box_content">
							<div class="box_field">
								<div class="box_img" style="background-image: url(../../images/Слой-1171.jpg);">
								</div>
								<div class="box_info text-center">
								<h6 class="titleb">ЖЕНСКИЙ ТРИКОТАЖ</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="box">
						<div class="box_content">
							<div class="box_field">
								<div class="box_img" style="background-image: url(../../images/Слой-120.jpg);">
								</div>
								<div class="box_info text-center">
								<h6 class="titleb">МУЖСКАЯ ОДЕЖДА</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="box">
						<div class="box_content">
							<div class="box_field">
								<div class="box_img" style="background-image: url(../../images/Слой-123.jpg);">
								</div>
								<div class="box_info text-center">
								<h6 class="titleb">ДЕТСКАЯ ОДЕЖДА</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="box">
						<div class="box_content">
							<div class="box_field">
								<div class="box_img" style="background-image: url(../../images/Слой-125.jpg);">
								</div>
								<div class="box_info text-center">
								<h6 class="titleb">ОБУВЬ</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="box">
						<div class="box_content">
							<div class="box_field">
								<div class="box_img" style="background-image: url(../../images/Слой-122.jpg);">
								</div>
								<div class="box_info text-center">
									<h6 class="titleb">ДЕТСКАЯ ОДЕЖДА</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="box">
						<div class="box_content">
							<div class="box_field">
								<div class="box_img" style="background-image: url(../../images/Слой-1261.jpg);">
								</div>
								<div class="box_info text-center">
									<h6 class="titleb">ОБУВЬ</h6>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>