<div class="form_reviews">
    <div class="form_reviews-caption">
		<h3><strong>+ Добавьте свой отзыв</strong></h3>	
	</div>
	<form class="form_reviews-page">
	     <div class="form_reviews-left">
	     	<label class="correction firstname" for="name">Ваше имя:<em class="star">*</em>
	     	</label>
	     	<label class="correction secondname" for="email">E-mail:<em class="star">*</em>
	     	</label>
	     	<label class="correction thirdname" for="otziv">Отзыв:<em class="star">*</em>
	     	</label>
	     	<label class="correction fourthtitle" for="pros">Плюсы:
	     	</label>
	     	<label class="correction fifthname" for="minuses">Минусы:
	     	</label>
	     </div>
	     <div class="form_reviews-right">
	         <p>
	     	   <input type="text" name="" id="name" required="">
	     	</p>
	     	 <p>
	     	   <input type="email" name="" id="email" required="">
	     	</p>
	     	 <p>
	     	   <textarea class="firstfield" id="otziv" required=""></textarea>
	     	</p>
	     	 <p>
	     	   <textarea class="secondfield" id="pros" required=""></textarea>
	     	</p>
	     	 <p>
	     	   <textarea class="thirdfield" id="minuses" required=""></textarea>
	     	</p>
	     	<div>
		     	<div class="form_reviews-advice">
		     		<p><strong>Посоветовали бы друзьям:</strong></p>
		     	</div>
		     	<div class="answer">
			     	<label class="form_reviews-checkbox">
						<input type="checkbox">
						<i class="form-icon"></i>
					</label>
					<p>Да</p>
					<label class="form_reviews-checkbox">
						<input type="checkbox">
						<i class="form-icon"></i>
					</label>
					<p>Нет</p>
					<label class="form_reviews-checkbox">
						<input type="checkbox">
						<i class="form-icon"></i>
					</label>
					<p>Не знаю</p>
				</div>
			</div>
			<label class="form_reviews-btn">
			   <input type="submit" value="Отправить">
			 </label>
	     </div> 
	</form>
</div>