<header class="header">
	<div class="header_wrapper clearfix">
	  <div class="header_field clearfix">
			 <div class="entrance clearfix">
			   <a class="entrance_link" href="#">Войти</a>
			   <div class="dropdown-entrance">
			   	<form class="clearfix" style="line-height: normal;">
			   	    <p>
			   		     <input type="text" name="1" placeholder="e-mail">
			   		</p> 
			   		<p style="margin-bottom: 5px;">
			   		   <input type="text" name="2" placeholder="пароль">
			   		</p>
			   			<a href="#">Регистрация <br></a>
			   	<a href="#">Забыли пароль?</a>
			   		<p class="entrance_btn">
			   			<input type="submit" name="" value="Вход" class="entrance_btn-input">
			   		</p>
			   	</form>
			   </div>
			 </div>
			<div class="header_logo">
				<img src="../../images/icons/лого-копия.png">
				<img src="../../images/icons/Сrлой-83.png">
			</div>
		<div class="header_contain clearfix">
			<div class="header_delivery">
				<span> Доставка по всей <br>Украине и СНГ <br>  </span>
			</div>
			<div class="header_info">
				<span>Свяжитесь с нами: <br> +38  (063)
					<span class="capital">373  88  88 <br></span>
				</span>
				<div class="header-wrapper_info">
					<a href="">
					  <img src="../../images/icons/Слой-12.png" class="info_img">
					  <span class="back_call">заказать обратный звонок</span>
					</a>
					<div class="header-dropdown">
                        <i class="fa fa-times close_up" aria-hidden="true"></i>
						<form>
							<label class="header-dropdown_name"><em>Ваше имя </em></label>
							<input class="header-dropdown_input" type="text" name="">
							<label class="header-dropdown_name"><em>Ваш телефон</em></label>
							<input class="header-dropdown_input" type="text" name="">
							<div class="header-dropdown_btn">
								 <input type="submit" value="Заказать">
							</div>
						</form>
					</div>
				</div>
				<div class="all_contacts">
				<a href="">
					<span>все контакты</span>
					<img src="../../images/icons/Слой-52-коhyyggпия-11.png" class="all_img">
				</a>
				<div class="all_contacts-dropdown">
				<i class="fa fa-times" aria-hidden="true"></i>
					<ul class="all_contacts-list">
                    <img src="../../images/icons/Слой-117.png">
                     <li >
                        <span >+380 (63) 815-55-50</span>
                     </li>
                      <li>
                        <span>+380 (63) 373-88-88</span>
                      </li>
                      <li>
                         <span>+380 (63) 361-99-90</span>
                       </li>
                      <li>
                          <span>+380 (97) 923-47-77</span>
                      </li>
                    </ul>
                    <ul class="all_contacts-listsecond">
                    	<li>
                            <img src="../../images/icons/Слой-116.png">
                            <a  href="">torg-ua79@mail.ru</a>
                         </li>
                         <li >
                             <img src="../../images/icons/Слой-115.png">
                              <a href="">Jakubmosaid</a>
                          </li>
                    </ul>
				</div>
				</div>
			</div>
			<div class="header_basket">
				<div class="basket_field">
					<img src="../../images/icons/shopping-basket.png">
					<span class="shopping">Ваша корзина<br></span>
					<span class="info_basket"> 4 товара на 3 350 грн.</span>
				</div>
			</div>
		</div>
	  </div>
	</div>
</header>

