<header class="header">
	<div class="header_wrapper clearfix">
	  <div class="header_field clearfix">
			<div class="header_logo">
				<img src="../../images/icons/лого-копия.png">
				<img src="../../images/icons/Сrлой-83.png">
			</div>
		<div class="header_contain">
			<div class="header_delivery">
				<span> Доставка по всей Украине и СНГ <br> Украине и СНГ </span>
			</div>
			<div class="header_info">
				<span>Свяжитесь с нами по номеру: <br> +38  (063)
					<span class="capital">373  88  88 <br></span>
				</span>
				<a href="">
				  <img src="../../images/icons/Слой-12.png" class="info_img">
				  <span class="back_call">заказать обратный звонок и что то там еще</span>
				</a>
				<div class="all_contacts">
				<a href="">
					<span>все контакты что у нас только были.</span>
					<img src="../../images/icons/Слой-52-коhyyggпия-11.png" class="all_img">
				</a>
				</div>
			</div>
			<div class="header_basket">
				<div class="basket_field">
					<img src="../../images/icons/shopping-basket.png">
					<span class="shopping">Ваша корзина и ваши покупки ждут ваших денег <br></span>
					<span class="info_basket"> 4 товара на 3 350 грн. по курсу за 2010 год</span>
				</div>
			</div>
		</div>
	  </div>
	</div>
</header>