
	<div class="main_content__left">
		<div class="main_menu__overlay">
		    <span class="subparagraphs">Для женщин</span>
		    <img src="../../images/icons/Слой-52-копия-24.png">
			<ul>
				<li>
					<a href="">Верхняя одежда</a>
				</li>
				<li>
					<a href="">Платья, туники, блузы</a>
				</li>
				<li>
					<a href="">Кофты, свитера, батники, пиджаки</a>
				</li>
				<li>
					<a href="">Футболки, майки</a>
				</li>
				<li>
					<a href="">Спортивная одежда</a>
				</li>
				<li>
					<a href="">Брюки, лосины, капри, юбки</a>
				</li>
				<li>
					<a href="">Нижнее белье</a>
				</li>
				<li>
					<a href="">Домашние костюмы и пижамы</a>
				</li>
				<li>
					<a href="">Платья, туники, блузы</a>
				</li>
				<li>
					<a href="">Кофты, свитера, батники, пиджаки</a>
				</li>
				<li>
					<a href="">Футболки, майки</a>
				</li>
				<li>
					<a href="">Спортивная одежда</a>
				</li>
				<li>
					<a href="">Брюки, лосины, капри, юбки</a>
				</li>
				<li>
					<a href="">Шорты, бермуды</a>
				</li>
				<li>
					<a href="">Юбки</a>
				</li>
				<li class="active">
					<a href="">Аксессуары</a>
					<img src="../../images/icons/Слой-52-коhyyggпия-11.png">
				</li>
				<li class="active">
					<a href="">Белье</a>
					<img src="../../images/icons/Слой-52-коhyyggпия-11.png">
				</li>
				<li class="active">
					<a href="">Аксессуары</a>
					<img src="../../images/icons/Слой-52-коhyyggпия-11.png">
				</li>
				<li class="active">
					<a href="">Белье</a>
					<img src="../../images/icons/Слой-52-коhyyggпия-11.png">
				</li>
			</ul>
		</div>
	</div> 
	