<div class="main_content__left">
	<div class="main_menu__overlay">

		<!--		<ul>
				<li>
					<h3>Для женщин</h3>
					<ul>
						<li>
							<a href="">Верхняя одежда</a>
						</li>
						<li>
							<a href="">Платья, туники, блузы</a>
						</li>
						<li>
							<a href="">Кофты, свитера, батники, пиджаки</a>
						</li>
						<li>
							<a href="">Футболки, майки</a>
						</li>
					</ul>
				</li>

				<li>
					<h3>Для женщин</h3>
					<ul>
						<li>
							<a href="">Верхняя одежда</a>
						</li>
						<li>
							<a href="">Платья, туники, блузы</a>
						</li>
						<li>
							<a href="">Кофты, свитера, батники, пиджаки</a>
						</li>
						<li>
							<a href="">Футболки, майки</a>
						</li>
					</ul>
				</li>

				<li>
					<h3>Для женщин</h3>
					<ul>
						<li>
							<a href="">Верхняя одежда</a>
						</li>
						<li>
							<a href="">Платья, туники, блузы</a>
						</li>
						<li>
							<a href="">Кофты, свитера, батники, пиджаки</a>
						</li>
						<li>
							<a href="">Футболки, майки</a>
						</li>
					</ul>
				</li>

			</ul> -->


		<!--<span class="subparagraphs">Для женщин</span>
		<img src="../../images/icons/Слой-52-копия-24.png">
		<ul>
			<li>
				<a href="">Верхняя одежда</a>
			</li>
			<li>
				<a href="">Платья, туники, блузы</a>
			</li>
			<li>
				<a href="">Кофты, свитера, батники, пиджаки</a>
			</li>
			<li>
				<a href="">Футболки, майки</a>
			</li>
			<li>
				<a href="">Спортивная одежда</a>
			</li>
			<li>
				<a href="">Брюки, лосины, капри, юбки</a>
			</li>
			<li>
				<a href="">Нижнее белье</a>
			</li>
			<li>
				<a href="">Домашние костюмы и пижамы</a>
			</li>
			<li>
				<a href="">Платья, туники, блузы</a>
			</li>
			<li>
				<a href="">Кофты, свитера, батники, пиджаки</a>
			</li>
			<li>
				<a href="">Футболки, майки</a>
			</li>
			<li>
				<a href="">Спортивная одежда</a>
			</li>
			<li>
				<a href="">Брюки, лосины, капри, юбки</a>
			</li>
			<li>
				<a href="">Шорты, бермуды</a>
			</li>
			<li>
				<a href="">Юбки</a>
			</li>
		</ul> -->

		<div class="accordion">
		    <h3>Для женщин</h3>
				<div>	   
				    <ul>
						<li>
							<a href="">Верхняя одежда</a>
						</li>
						<li>
							<a href="">Платья, туники, блузы</a>
						</li>
						<li>
							<a href="">Кофты, свитера, батники, пиджаки</a>
						</li>
						<li>
							<a href="">Футболки, майки</a>
						</li>
						<li>
							<a href="">Спортивная одежда</a>
						</li>
						<li>
							<a href="">Брюки, лосины, капри, юбки</a>
						</li>
						<li>
							<a href="">Нижнее белье</a>
						</li>
						<li>
							<a href="">Домашние костюмы и пижамы</a>
						</li>
						<li>
							<a href="">Платья, туники, блузы</a>
						</li>
						<li>
							<a href="">Кофты, свитера, батники, пиджаки</a>
						</li>
						<li>
							<a href="">Футболки, майки</a>
						</li>
						<li>
							<a href="">Спортивная одежда</a>
						</li>
						<li>
							<a href="">Брюки, лосины, капри, юбки</a>
						</li>
						<li>
							<a href="">Шорты, бермуды</a>
						</li>
						<li>
							<a href="">Юбки</a>
						</li>
					</ul>	
				</div>
			<h3>Аксессуары</h3>
			<div>
				<ul>
						<li>
							<a href="">Верхняя одежда</a>
						</li>
						<li>
							<a href="">Платья, туники, блузы</a>
						</li>
						<li>
							<a href="">Кофты, свитера, батники, пиджаки</a>
						</li>
						<li>
							<a href="">Футболки, майки</a>
						</li>
						<li>
							<a href="">Спортивная одежда</a>
						</li>
						<li>
							<a href="">Брюки, лосины, капри, юбки</a>
						</li>
						<li>
							<a href="">Нижнее белье</a>
						</li>
						<li>
							<a href="">Домашние костюмы и пижамы</a>
						</li>
						<li>
							<a href="">Платья, туники, блузы</a>
						</li>
						<li>
							<a href="">Кофты, свитера, батники, пиджаки</a>
						</li>
						<li>
							<a href="">Футболки, майки</a>
						</li>
						<li>
							<a href="">Спортивная одежда</a>
						</li>
						<li>
							<a href="">Брюки, лосины, капри, юбки</a>
						</li>
						<li>
							<a href="">Шорты, бермуды</a>
						</li>
						<li>
							<a href="">Юбки</a>
						</li>
					</ul>	
			</div>
			<h3>Белье</h3>
			<div>
				<ul>
						<li>
							<a href="">Верхняя одежда</a>
						</li>
						<li>
							<a href="">Платья, туники, блузы</a>
						</li>
						<li>
							<a href="">Кофты, свитера, батники, пиджаки</a>
						</li>
						<li>
							<a href="">Футболки, майки</a>
						</li>
						<li>
							<a href="">Спортивная одежда</a>
						</li>
						<li>
							<a href="">Брюки, лосины, капри, юбки</a>
						</li>
						<li>
							<a href="">Нижнее белье</a>
						</li>
						<li>
							<a href="">Домашние костюмы и пижамы</a>
						</li>
						<li>
							<a href="">Платья, туники, блузы</a>
						</li>
						<li>
							<a href="">Кофты, свитера, батники, пиджаки</a>
						</li>
						<li>
							<a href="">Футболки, майки</a>
						</li>
						<li>
							<a href="">Спортивная одежда</a>
						</li>
						<li>
							<a href="">Брюки, лосины, капри, юбки</a>
						</li>
						<li>
							<a href="">Шорты, бермуды</a>
						</li>
						<li>
							<a href="">Юбки</a>
						</li>
					</ul>	
				
			</div>
			<h3>Аксессуары</h3>
			<div>
				<ul>
						<li>
							<a href="">Верхняя одежда</a>
						</li>
						<li>
							<a href="">Платья, туники, блузы</a>
						</li>
						<li>
							<a href="">Кофты, свитера, батники, пиджаки</a>
						</li>
						<li>
							<a href="">Футболки, майки</a>
						</li>
						<li>
							<a href="">Спортивная одежда</a>
						</li>
						<li>
							<a href="">Брюки, лосины, капри, юбки</a>
						</li>
						<li>
							<a href="">Нижнее белье</a>
						</li>
						<li>
							<a href="">Домашние костюмы и пижамы</a>
						</li>
						<li>
							<a href="">Платья, туники, блузы</a>
						</li>
						<li>
							<a href="">Кофты, свитера, батники, пиджаки</a>
						</li>
						<li>
							<a href="">Футболки, майки</a>
						</li>
						<li>
							<a href="">Спортивная одежда</a>
						</li>
						<li>
							<a href="">Брюки, лосины, капри, юбки</a>
						</li>
						<li>
							<a href="">Шорты, бермуды</a>
						</li>
						<li>
							<a href="">Юбки</a>
						</li>
					</ul>	
			</div>
			<h3>Белье</h3>
			<div>
				<ul>
					<li>
						<a href="">Верхняя одежда</a>
					</li>
					<li>
						<a href="">Платья, туники, блузы</a>
					</li>
					<li>
						<a href="">Кофты, свитера, батники, пиджаки</a>
					</li>
					<li>
					<a href="">Футболки, майки</a>
					</li>
					<li>
						<a href="">Спортивная одежда</a>
					</li>
					<li>
						<a href="">Брюки, лосины, капри, юбки</a>
					</li>
					<li>
						<a href="">Нижнее белье</a>
					</li>
					<li>
						<a href="">Домашние костюмы и пижамы</a>
					</li>
					<li>
						<a href="">Платья, туники, блузы</a>
					</li>
					<li>
						<a href="">Кофты, свитера, батники, пиджаки</a>
					</li>
					<li>
						<a href="">Футболки, майки</a>
					</li>
					<li>
						<a href="">Спортивная одежда</a>
					</li>
					<li>
						<a href="">Брюки, лосины, капри, юбки</a>
					</li>
					<li>
						<a href="">Шорты, бермуды</a>
					</li>
					<li>
						<a href="">Юбки</a>
					</li>
				</ul>	
		    </div>
		</div>

		<div class="choiceofsize">
			<div class="cena">
				<div class="field">
					<label class="checkbox">
						<input type="checkbox" checked="">
						<i class="checkbox-icon"></i>
					</label>
					<span>Цена</span>
				</div>
			</div>
			<div class="formcom">
				<form class="commentform">
					<p>
						<label>
				          <small>от</small>
			            </label>
						<input type="text" name="">
					</p>
				</form>
				<form class="commentform">
					<p>
						<label>
				           <small>до</small>
			             </label>
						<input type="text" name="">
					</p>
				</form>
				<form>
				  <button class="btn">ОК</button>
				</form>
			</div>
			<div class="razmer">
				<div class="field">
					<label class="checkbox">
						<input type="checkbox" checked="">
						<i class="checkbox-icon"></i>
					</label>
					<span>Размер</span>
				</div>
			</div>
			<div class="spisok">
				 <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">0 (42)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">1 (21)</span>
				 </div>
				 <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">128-134 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">134-140 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">140 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">140-146 (1)</span>
				 </div>
				  <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">146 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">146-152 (1)</span>
				 </div>
				  <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">134-140 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">140 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">140-146 (1)</span>
				 </div>
				  <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">146 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">146-152 (1)</span>
				 </div>
				  <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">134-140 (1)</span>
				 </div><div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">140 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">140-146 (1)</span>
				 </div>
				  <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">146 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">146-152 (1)</span>
				 </div>
				  <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">134-140 (1)</span>
				 </div>
				  <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">146-152 (1)</span>
				 </div>
				  <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">134-140 (1)</span>
				 </div>
				  <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">146-152 (1)</span>
				 </div>
				  <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">134-140 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">140-146 (1)</span>
				 </div>
				  <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">146 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">146-152 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">140-146 (1)</span>
				 </div>
				  <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">146 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">146-152 (1)</span>
				 </div>
				  <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">0 (42)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">1 (21)</span>
				 </div>
				 <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">128-134 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">134-140 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">140 (1)</span>
				 </div>
				  <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">0 (42)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">1 (21)</span>
				 </div>
				 <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">128-134 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">134-140 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">140 (1)</span>
				 </div>
				  <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">0 (42)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">1 (21)</span>
				 </div>
				 <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">128-134 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">134-140 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">140 (1)</span>
				 </div>
				  <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">0 (42)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">1 (21)</span>
				 </div>
				 <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">128-134 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
					 <span class="test">134-140 (1)</span>
				 </div>
				 <div class="spisok_wrapper">
	                 <label class="checkbox-page">
						<input type="checkbox">
						<i class="checkbox-icon"></i>
					</label>
				 <span class="test">140 (1)</span>
				 </div>
			</div>
			<div class="cvet">
				<div class="field">
					<label class="checkbox">
						<input type="checkbox" checked="">
						<i class="checkbox-icon"></i>
					</label>
					<span>Цвет</span>
				</div>
			</div>
			<div class="colsel">
				<ul class="color_selection">
					<li>
					    <label class="checkbox_color" style="background-color: #dbdbc8;">
							<input type="checkbox" name="">
						</label>
					</li>
					<li>
						 <label class="checkbox_color" style="background-color: #fff;">
							<input type="checkbox" name="">
						</label>
					</li>
					<li> 
					     <label class="checkbox_color" style="background-color: #a7c1cd;">
							<input type="checkbox" name="">
						</label>
					</li>
					<li>
					     <label class="checkbox_color" style="background-color: #eeee43;">
							<input type="checkbox" name="">
						</label>
					</li>
					<li>
					    <label class="checkbox_color" style="background-color: #4a7e27;">
							<input type="checkbox" name="">
						</label>
					</li>
					<li>
						<label class="checkbox_color" style="background-color: #833434;">
							<input type="checkbox" name="">
						</label>
					</li>
					<li>
						<label class="checkbox_color" style="background-color: #ca2424;">
							<input type="checkbox" name="">
						</label>
					</li>
					<li>
						<label class="checkbox_color" style="background-color: #e6b042;">
							<input type="checkbox" name="">
						</label>
					</li>
					<li>
						<label class="checkbox_color" style="background-color: #ecc8d0;">
							<input type="checkbox" name="">
						</label>
					</li>
					<li>
						<label class="checkbox_color" style="background-color: #8b8b8b;">
							<input type="checkbox" name="">
						</label>
					</li>
					<li>
						<label class="checkbox_color" style="background-color: #1f1fe3;">
							<input type="checkbox" name="">
						</label>
					</li>
					<li>
						<label class="checkbox_color" style="background-color: #c682d8;">
							<input type="checkbox" name="">
						</label>
					</li>
					<li>
						<label class="checkbox_color" style="background-color: #1e1e1e;">
							<input type="checkbox" name="">
						</label>
					</li>
				</ul>
			</div>
			<div class="resetwrapp">
				<span class="reset">
					<a href="">Сбросить сортировки</a>
				</span>
			</div>
			<button class="to_top">
				<a href="">
					<img src="../../images/icons/наверх.png">
				</a>
			</button>
		</div>
	</div>
</div>

