<div class="nav_wrapper">
	<nav class="menu">
		<div class="menu_overlay">
			<ul>
				<li class="navm">
					<a href="">ЖЕНЩИНАМ</a>
				</li>
				<li class="navm">
					<a href="">МУЖЧИНАМ</a>
				</li>
				<li class="navm">
					<a href="">ДЕТЯМ</a>
				</li>
				<li class="navm">
					<a href="">СПОРТ</a>
				</li>
				<li class="navm">
					<a href="">ОБУВЬ</a>
				</li>
				<li class="navm">
					<a href="">ХХL</a>
				</li>
			</ul>
		</div>
	</nav>
	<nav class="second_menu">
		<div class="menu_overlay">
			<ul class="navigation">
				<li class="active">
					<a href="#" class="mo_link">Одежда <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					<ul class="dropdown">
						<li class="drowdecor"><a href="#">Балетки</a></li>
						<li class="drowdecor"><a href="#">Валенки</a></li>
						<li class="drowdecor"><a href="#">Сабо</a></li>
						<li class="drowdecor"><a href="#">Тапочки</a></li>
						<li class="drowdecor"><a href="#">Унты</a></li>
						<li class="drowdecor"><a href="#">Угги</a></li>
						<li class="drowdecor"><a href="#">Босоножки, сандалии</a></li>
						<li class="drowdecor"><a href="#">Ботильоны</a></li>
						<li class="drowdecor"><a href="#">Ботинки</a></li>
						<li class="drowdecor"><a href="#">Кеды</a></li>
						<li class="drowdecor"><a href="#">Кроссовки</a></li>
						<li class="drowdecor"><a href="#">Мокасины</a></li>
						<li class="drowdecor"><a href="#">Пантолеты, шлепанцы</a></li>
						<li class="drowdecor"><a href="#">Полусапожки</a></li>
						<li class="drowdecor"><a href="#">Резиновые сапоги</a></li>
						<li class="drowdecor"><a href="#">Сапоги</a></li>
						<li class="drowdecor"><a href="#">Туфли</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="mo_link">Аксессуары <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					<ul class="dropdown">
						<li class="drowdecor"><a href="#">Балетки</a></li>
						<li class="drowdecor"><a href="#">Валенки</a></li>
						<li class="drowdecor"><a href="#">Сабо</a></li>
						<li class="drowdecor"><a href="#">Тапочки</a></li>
						<li class="drowdecor"><a href="#">Унты</a></li>
						<li class="drowdecor"><a href="#">Угги</a></li>
						<li class="drowdecor"><a href="#">Босоножки, сандалии</a></li>
						<li class="drowdecor"><a href="#">Ботильоны</a></li>
						<li class="drowdecor"><a href="#">Ботинки</a></li>
						<li class="drowdecor"><a href="#">Кеды</a></li>
						<li class="drowdecor"><a href="#">Кроссовки</a></li>
						<li class="drowdecor"><a href="#">Мокасины</a></li>
						<li class="drowdecor"><a href="#">Пантолеты, шлепанцы</a></li>
						<li class="drowdecor"><a href="#">Полусапожки</a></li>
						<li class="drowdecor"><a href="#">Резиновые сапоги</a></li>
						<li class="drowdecor"><a href="#">Сапоги</a></li>
						<li class="drowdecor"><a href="#">Туфли</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="mo_link">Белье <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					<ul class="dropdown">
						<li class="drowdecor"><a href="#">Балетки</a></li>
						<li class="drowdecor"><a href="#">Валенки</a></li>
						<li class="drowdecor"><a href="#">Сабо</a></li>
						<li class="drowdecor"><a href="#">Тапочки</a></li>
						<li class="drowdecor"><a href="#">Унты</a></li>
						<li class="drowdecor"><a href="#">Угги</a></li>
						<li class="drowdecor"><a href="#">Босоножки, сандалии</a></li>
						<li class="drowdecor"><a href="#">Ботильоны</a></li>
						<li class="drowdecor"><a href="#">Ботинки</a></li>
						<li class="drowdecor"><a href="#">Кеды</a></li>
						<li class="drowdecor"><a href="#">Кроссовки</a></li>
						<li class="drowdecor"><a href="#">Мокасины</a></li>
						<li class="drowdecor"><a href="#">Пантолеты, шлепанцы</a></li>
						<li class="drowdecor"><a href="#">Полусапожки</a></li>
						<li class="drowdecor"><a href="#">Резиновые сапоги</a></li>
						<li class="drowdecor"><a href="#">Сапоги</a></li>
						<li class="drowdecor"><a href="#">Туфли</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="mo_link">XXL <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					<ul class="dropdown">
						<li class="drowdecor"><a href="#">Балетки</a></li>
						<li class="drowdecor"><a href="#">Валенки</a></li>
						<li class="drowdecor"><a href="#">Сабо</a></li>
						<li class="drowdecor"><a href="#">Тапочки</a></li>
						<li class="drowdecor"><a href="#">Унты</a></li>
						<li class="drowdecor"><a href="#">Угги</a></li>
						<li class="drowdecor"><a href="#">Босоножки, сандалии</a></li>
						<li class="drowdecor"><a href="#">Ботильоны</a></li>
						<li class="drowdecor"><a href="#">Ботинки</a></li>
						<li class="drowdecor"><a href="#">Кеды</a></li>
						<li class="drowdecor"><a href="#">Кроссовки</a></li>
						<li class="drowdecor"><a href="#">Мокасины</a></li>
						<li class="drowdecor"><a href="#">Пантолеты, шлепанцы</a></li>
						<li class="drowdecor"><a href="#">Полусапожки</a></li>
						<li class="drowdecor"><a href="#">Резиновые сапоги</a></li>
						<li class="drowdecor"><a href="#">Сапоги</a></li>
						<li class="drowdecor"><a href="#">Туфли</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="mo_link">Обувь <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					<ul class="dropdown">
						<li class="drowdecor"><a href="#">Балетки</a></li>
						<li class="drowdecor"><a href="#">Валенки</a></li>
						<li class="drowdecor"><a href="#">Сабо</a></li>
						<li class="drowdecor"><a href="#">Тапочки</a></li>
						<li class="drowdecor"><a href="#">Унты</a></li>
						<li class="drowdecor"><a href="#">Угги</a></li>
						<li class="drowdecor"><a href="#">Босоножки, сандалии</a></li>
						<li class="drowdecor"><a href="#">Ботильоны</a></li>
						<li class="drowdecor"><a href="#">Ботинки</a></li>
						<li class="drowdecor"><a href="#">Кеды</a></li>
						<li class="drowdecor"><a href="#">Кроссовки</a></li>
						<li class="drowdecor"><a href="#">Мокасины</a></li>
						<li class="drowdecor"><a href="#">Пантолеты, шлепанцы</a></li>
						<li class="drowdecor"><a href="#">Полусапожки</a></li>
						<li class="drowdecor"><a href="#">Резиновые сапоги</a></li>
						<li class="drowdecor"><a href="#">Сапоги</a></li>
						<li class="drowdecor"><a href="#">Туфли</a></li>
					</ul>
				</li>
			</ul>

			<div>
				<input placeholder="поиск по каталогу" class="input">
				<img src="../../images/icons/zoom-in.png">
			</div>
		</div>
	</nav>
</div>