<div class="nav_wrapper">
	<nav class="menu">
		<div class="menu_overlay">
			<ul>
				<li>
					<a href="">ЖЕНЩИНАМ</a>
				</li>
				<li>
					<a href="">МУЖЧИНАМ</a>
				</li>
				<li>
					<a href="">ДЕТЯМ</a>
				</li>
				<li>
					<a href="">СПОРТ</a>
				</li>
				<li>
					<a href="">ОБУВЬ</a>
				</li>
				<li>
					<a href="">ХХL</a>
				</li>
			</ul>
		</div>
	</nav>
	<nav class="second_menu">
		<div class="menu_overlay">
			<ul>
				<li>
					<a href="">Одежда</a>
					<span style="background-image: url(../../images/icons/ui-icons_444444_256x240.png);"></span>
					<ul class="dropdown">
						<li class="dropdown__item"><a href="#">поступления</a></li>
						<li class="dropdown__item"><a href="#">поступления</a></li>
						<li class="dropdown__item"><a href="#">поступления</a></li>
						<li class="dropdown__item"><a href="#">поступления</a></li>
						<li class="dropdown__item"><a href="#">поступления</a></li>
						<li class="dropdown__item"><a href="#">поступления</a></li>
					</ul>

				</li>
				<li>
					<a href="#">Аксессуары</a>
				</li>
				<li>
					<a href="#">Белье</a>
				</li>
				<li>
					<a href="">XXL</a>
				</li>
				<li>
					<a href="">Обувь</a>
				</li>
				<li class="search<a href="" class="footer_menu__link">
				   <input placeholder="поиск по каталогу" class="input">
				  <img src="../../images/icons/zoom-in.png">
				</li>
			</ul>
		</div>
	</nav>
 </div>	