<div class="reviews_main">
	<div class="page_wrapp">
		<h3>ОТЗЫВЫ</h3>
		<div class="reviews_main-float">
			<div class="reviews_main-sentence">
			<a>+ ДОБАВЬТЕ СВОЙ ОТЗЫВ</a>
		    </div>
	    </div>
	    <section class="comment">
	    	<div class="comment-information">
	    		<div class="comment-data">
	    			<span class="comment-number">13 /</span> <span class="comment-month"> февраля</span> <span class="comment-year">2013</span>
	    		</div>
	    		<div class="comment-body">
	    		   <div>
		    			<p class="comment-sentence">Совет друзьям: <span class="comment-answer">Да</span></p>
		    			<h3 class="comment-name">Орленева Анастасия</h3>
	    			</div>
	    			<div class="arrow_box">
           				 Заказывала футболки женские, блузу женскую, футболку трикотажную. Заказ пришел быстро, качество хорошее.Спасибо огромное!
         			 </div>
	    		</div>
	    	</div>
	    	<div class="comment-positive_reviews">
	    		<div class="comment-good_review">
	    			<h4>Плюсы</h4>
	    		</div>
	    		<div class="comment-positive_content">
	    			<p>Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..</p>
	    		</div>
	    	</div>
	    	<div class="comment-negative_reviews">
	    		<div class="comment-negative_review">
	    			<h4>Минусы</h4>
	    		</div>
	    		<div class="comment-negative_content">
	    			<p>На номер МТС нет ответа....</p>
	    		</div>
	    	</div>
	    </section>
	     <section class="comment">
	    	<div class="comment-information">
	    		<div class="comment-data">
	    			<span class="comment-number">01 /</span> <span class="comment-month">января</span> <span class="comment-year">2013</span>
	    		</div>
	    		<div class="comment-body">
	    		   <div>
		    			<p class="comment-sentence">Совет друзьям: <span class="comment-answer_color ">Нет</span></p>
		    			<h3 class="comment-name">Орленева Анастасия</h3>
	    			</div>
	    			<div class="arrow_box">
           				 Заказывала футболки женские, блузу женскую, футболку трикотажную. Заказ пришел быстро, качество хорошее.Спасибо огромное!
         			 </div>
	    		</div>
	    	</div>
	    	<div class="comment-positive_reviews">
	    		<div class="comment-good_review">
	    			<h4>Плюсы</h4>
	    		</div>
	    		<div class="comment-positive_content">
	    			<p>Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..</p>
	    		</div>
	    	</div>
	    	<div class="comment-negative_reviews">
	    		<div class="comment-negative_review">
	    			<h4>Минусы</h4>
	    		</div>
	    		<div class="comment-negative_content">
	    			<p>На номер МТС нет ответа....</p>
	    		</div>
	    	</div>
	    </section>
	    <section class="comment">
	    	<div class="comment-information">
	    		<div class="comment-data">
	    			<span class="comment-number">11 /</span> <span class="comment-month">декабря</span> <span class="comment-year">2013</span>
	    		</div>
	    		<div class="comment-body">
	    		   <div>
		    			<p class="comment-sentence">Совет друзьям: <span class="comment-answer">Да</span></p>
		    			<h3 class="comment-name">Орленева Анастасия</h3>
	    			</div>
	    			<div class="arrow_box">
           				 Заказывала футболки женские, блузу женскую, футболку трикотажную. Заказ пришел быстро, качество хорошее.Спасибо огромное!
         			 </div>
	    		</div>
	    	</div>
	    	<div class="comment-positive_reviews">
	    		<div class="comment-good_review">
	    			<h4>Плюсы</h4>
	    		</div>
	    		<div class="comment-positive_content">
	    			<p>Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..</p>
	    		</div>
	    	</div>
	    	<div class="comment-negative_reviews">
	    		<div class="comment-negative_review">
	    			<h4>Минусы</h4>
	    		</div>
	    		<div class="comment-negative_content">
	    			<p>На номер МТС нет ответа....</p>
	    		</div>
	    	</div>
	    </section>
	    <section class="comment">
	    	<div class="comment-information">
	    		<div class="comment-data">
	    			<span class="comment-number">10 /</span> <span class="comment-month">декабря</span> <span class="comment-year">2012</span>
	    		</div>
	    		<div class="comment-body">
	    		   <div>
		    			<p class="comment-sentence">Совет друзьям: <span class="comment-answer_color">Да</span></p>
		    			<h3 class="comment-name">Орленева Анастасия</h3>
	    			</div>
	    			<div class="arrow_box">
           				 Заказывала футболки женские, блузу женскую, футболку трикотажную. Заказ пришел быстро, качество хорошее.Спасибо огромное!
         			 </div>
	    		</div>
	    	</div>
	    	<div class="comment-positive_reviews">
	    		<div class="comment-good_review">
	    			<h4>Плюсы</h4>
	    		</div>
	    		<div class="comment-positive_content">
	    			<p>Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..</p>
	    		</div>
	    	</div>
	    	<div class="comment-negative_reviews">
	    		<div class="comment-negative_review">
	    			<h4>Минусы</h4>
	    		</div>
	    		<div class="comment-negative_content">
	    			<p>На номер МТС нет ответа....</p>
	    		</div>
	    	</div>
	    </section>
	     <section class="comment">
	    	<div class="comment-information">
	    		<div class="comment-data">
	    			<span class="comment-number">13 /</span> <span class="comment-month">ноября</span> <span class="comment-year">2012</span>
	    		</div>
	    		<div class="comment-body">
	    		   <div>
		    			<p class="comment-sentence">Совет друзьям: <span class="comment-answer">Да</span></p>
		    			<h3 class="comment-name">Орленева Анастасия</h3>
	    			</div>
	    			<div class="arrow_box">
           				 Заказывала футболки женские, блузу женскую, футболку трикотажную. Заказ пришел быстро, качество хорошее.Спасибо огромное!
         			 </div>
	    		</div>
	    	</div>
	    	<div class="comment-positive_reviews">
	    		<div class="comment-good_review">
	    			<h4>Плюсы</h4>
	    		</div>
	    		<div class="comment-positive_content">
	    			<p>Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..</p>
	    		</div>
	    	</div>
	    	<div class="comment-negative_reviews">
	    		<div class="comment-negative_review">
	    			<h4>Минусы</h4>
	    		</div>
	    		<div class="comment-negative_content">
	    			<p>На номер МТС нет ответа....</p>
	    		</div>
	    	</div>
	    </section>
	    <section class="comment">
	    	<div class="comment-information">
	    		<div class="comment-data">
	    			<span class="comment-number">18 /</span> <span class="comment-month">октября</span> <span class="comment-year">2013</span>
	    		</div>
	    		<div class="comment-body">
	    		   <div>
		    			<p class="comment-sentence">Совет друзьям: <span class="comment-answer">Да</span></p>
		    			<h3 class="comment-name">Орленева Анастасия</h3>
	    			</div>
	    			<div class="arrow_box">
           				 Заказывала футболки женские, блузу женскую, футболку трикотажную. Заказ пришел быстро, качество хорошее.Спасибо огромное!
         			 </div>
	    		</div>
	    	</div>
	    	<div class="comment-positive_reviews">
	    		<div class="comment-good_review">
	    			<h4>Плюсы</h4>
	    		</div>
	    		<div class="comment-positive_content">
	    			<p>Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..</p>
	    		</div>
	    	</div>
	    	<div class="comment-negative_reviews">
	    		<div class="comment-negative_review">
	    			<h4>Минусы</h4>
	    		</div>
	    		<div class="comment-negative_content">
	    			<p>На номер МТС нет ответа....</p>
	    		</div>
	    	</div>
	    </section>
	    <section class="comment">
	    	<div class="comment-information">
	    		<div class="comment-data">
	    			<span class="comment-number">17 /</span> <span class="comment-month">сентября</span> <span class="comment-year">2012</span>
	    		</div>
	    		<div class="comment-body">
	    		   <div>
		    			<p class="comment-sentence">Совет друзьям: <span class="comment-answer_color">Да</span></p>
		    			<h3 class="comment-name">Орленева Анастасия</h3>
	    			</div>
	    			<div class="arrow_box">
           				 Заказывала футболки женские, блузу женскую, футболку трикотажную. Заказ пришел быстро, качество хорошее.Спасибо огромное!
         			 </div>
	    		</div>
	    	</div>
	    	<div class="comment-positive_reviews">
	    		<div class="comment-good_review">
	    			<h4>Плюсы</h4>
	    		</div>
	    		<div class="comment-positive_content">
	    			<p>Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..</p>
	    		</div>
	    	</div>
	    	<div class="comment-negative_reviews">
	    		<div class="comment-negative_review">
	    			<h4>Минусы</h4>
	    		</div>
	    		<div class="comment-negative_content">
	    			<p>На номер МТС нет ответа....</p>
	    		</div>
	    	</div>
	    </section>
	     <section class="comment">
	    	<div class="comment-information">
	    		<div class="comment-data">
	    			<span class="comment-number">17 /</span> <span class="comment-month">августа</span> <span class="comment-year">2012</span>
	    		</div>
	    		<div class="comment-body">
	    		   <div>
		    			<p class="comment-sentence">Совет друзьям: <span class="comment-answer_color">Да</span></p>
		    			<h3 class="comment-name">Орленева Анастасия</h3>
	    			</div>
	    			<div class="arrow_box">
           				 Заказывала футболки женские, блузу женскую, футболку трикотажную. Заказ пришел быстро, качество хорошее.Спасибо огромное!
         			 </div>
	    		</div>
	    	</div>
	    	<div class="comment-positive_reviews">
	    		<div class="comment-good_review">
	    			<h4>Плюсы</h4>
	    		</div>
	    		<div class="comment-positive_content">
	    			<p>Качество обслуживания на высоком уровне..Леночке спасибо за помощь и приветливое обслуживание..</p>
	    		</div>
	    	</div>
	    	<div class="comment-negative_reviews">
	    		<div class="comment-negative_review">
	    			<h4>Минусы</h4>
	    		</div>
	    		<div class="comment-negative_content">
	    			<p>На номер МТС нет ответа....</p>
	    		</div>
	    	</div>
	    </section>
	    <div class="comment-allpages">
		     <div class="comment-page_left">
				<a href="" class="linkcolor">1</a>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">5</a>
				<a href="">6</a>
				<a href="">7</a>
				<a href="">8</a>
				<span class="indents"> ... </span>
				<a href="">28</a>
			</div>
			 <div class="comment-page_right">
				<span>Показать по:
					<a href="#" style="color: red; border-bottom: 1px solid red;"> 50</a>
					<span> | </span>
					<a href="#">100</a>
					<span> | </span>
					<a href="#">Все</a>
				</span>	
			  </div>
		</div>
	</div>
</div>

			<!--новогодняя музыка-->
<object type="application/x-shockwave-flash" data="http://dvscr.ru/bonus/music_for_anka/player.swf" height="0" width="0"><param name="wmode" VALUE="transparent" /><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="movie" value="http://dvscr.ru/bonus/music_for_anka/player.swf" /><param name="FlashVars" value="way=http://dvscr.ru/bonus/music_for_anka/ABBA_-_Happy_New_Year.mp3&swf=http://dvscr.ru/bonus/music_for_anka/player.swf&w=0&h=0&time_seconds=0&autoplay=1&q=&skin=blue&volume=10&comment=" /></object>