	<div class="main_content__right">
	    <span> <span class="spansize">13 <span class="palka">/ </span></span> <br> декабря</span>
		<h3>РАСПРОДАЖА ЖЕНСКОЙ ОДЕЖДЫ</h3>
		<div class="main_content__field">
			<div class="wrapper_img">
			  <img src="../../images/Слой-110.jpg">
			</div>
			<p>С приходом осени товар летнего сезона как правило становится не актуальным, 
			и лаже распродажи вряд ли смогут заинтересовать покупателей. <br></p>
			<p>С приходом осени товар летнего сезона как правило становится не актуальным, 
			и лаже распродажи вряд ли смогут заинтересовать покупателей.</p><p>С приходом осени товар летнего сезона как правило становится не актуальным, 
			и лаже распродажи вряд ли смогут заинтересовать покупателей. <br></p><p>С приходом осени товар летнего сезона как правило становится не актуальным, 
			и лаже распродажи вряд <br>ли смогут заинтересовать покупателей.</p><p>С приходом осени товар летнего сезона как правило становится не актуальным, 
			и лаже распродажи вряд ли смогут заинтересовать покупателей.</p><p>С приходом осени товар летнего сезона как правило становится не актуальным, 
			и лаже распродажи вряд ли смогут заинтересовать покупателей.</p>
			<p>С приходом осени товар летнего сезона как правило становится не актуальным, 
			и лаже распродажи вряд ли смогут заинтересовать покупателей. <br></p>
			<p>С приходом осени <br>товар летнего сезона как правило становится не актуальным, 
			и лаже распродажи вряд ли смогут заКаталогинтересовать покупателей.</p><p>С приходом осени товар летнего сезона как правило становится не актуальным, 
			и лаже распродажи вряд ли смогут заинтересовать покупателей. <br></p><p>С приходом осени товар летнего сезона как правило становится не актуальным, 
			и лаже <br> распродажи вряд ли смогут заинтересовать покупателей.</p><p>С приходом осени товар летнего сезона как правило становится не актуальным, 
			и лаже распродажи вряд ли смогут заинтересовать покупателей.</p><p>С приходом осени товар летнего сезона как правило становится не актуальным, 
			и лаже распродажи вряд ли смогут заинтересовать покупателей.</p>
			<p>С приходом осени товар летнего сезона как правило становится не актуальным, 
			и лаже распродажи вряд ли <br>смогут заинтересовать покупателей. <br></p>
			<p>С приходом осени товар летнего сезона как правило становится не актуальным, 
			и лаже распродажи вряд ли смогут заинтересовать покупателей.</p><p>С приходом осени товар летнего сезона как правило становится не актуальным, 
			и лаже распродажи вряд ли смогут заинтересовать покупателей. <br></p><p>С приходом осени товар летнего сезона как правило становится не актуальным, 
			и лаже распродажи вряд ли смогут заинтересовать покупателей.</p><p>С приходом осени товар летнего сезона как правило становится не актуальным, 
			и лаже распродажи вряд ли <br>смогут заинтересовать покупателей.</p><p>С приходом осени товар летнего сезона как правило становится не актуальным, 
			и лаже распродажи вряд ли смогут заинтересовать покупателей.</p>
		</div>
	</div>