<div class="contentpage">
	<div class="content_field">
		<h3>БЫСТРЫЙ ЗАКАЗ</h3>
		<h4 class="forma_z">КОРОТКАЯ ФОРМА ЗАКАЗА</h4>
		<form class="form_overlay mar_bottom">
			<div class="formpage">
				<div class="form_wrapp">
					 <h4 class="kont_tel">КОНТАКТНЫЙ ТЕЛЕФОН</h4>
					<form>
						  <input type="text" class="fieldd">
						  <input type="email" class="fieldd field_size">
		             </form>
		              <p class="infa_about__bodies"><span><em>Введите свой номер телефона без пробелов. Наш менеджер свяжется с вами для уточнения адреса и деталей оплаты.</em></span></p>
				</div>
					<div class="form_btn">
			              <button class="form_btn__bt">ПОДТВЕРДИТЬ И ЗАКАЗАТЬ</button>
		            </div>
			   </div>
		  </form>
		<h4 class="forma_z">РАСШИРЕННАЯ ФОРМА ЗАКАЗА</h4>
	<form class="form_overlay marbottom">
		<div class="formpage">
			<div class="form_wrapp">
			  <div class="wrapp_left">
				<form>
				  <div class="ololo">
				  	<label class="correction" for="initials"><em>ФИО<em class="star">*</em></em></label>
				  	<label class="correction" for="telephone"><em>Телефон<em class="star">*</em></em></label>
				  	<label class="correction" for="address"><em>Адрес доставки<em class="star">*</em><br>(город, улица,<br> дом, подъезд,<br> квартира)</em></label>
				  </div>
				  <div class="omnom">
				  	<input class="bottom_indent" type="text" id="initials" required="" spellcheck="true">
				  	<input class="bottom_indent" type="tel" id="telephone" required="">
				    <textarea class="textarea" id="address" required=""></textarea>
				    <div class="text-center"><a href="#" class="calculation">РАСЧЕТ СТОИМОСТИ ДОСТАВКИ</a></div>
				  </div>
				</form>
			</div>
				<div class="form_right">
					<label class="correctionn" for="name"><em>Способ доставки<em class="star">*</em></em> <br></label>
					 <form action="option1.php">
					   <p><select size="1" name="hero">
						    <option value="t1" selected>Доставка на дом (курьером)</option>
						    <option value="t2">Доставка на дом (курьером)</option>
						    <option value="t3">Доставка на дом (курьером)</option>
						    <option value="t4">Доставка на дом (курьером)</option>
					   </select></p>
				   </form>
				   <label class="correctionn" for="name"><em>Способ оплаты<em class="star">*</em></em> <br></label>
					 <form action="option1.php">
					   <p><select class="fl_r" size="1" name="hero">
						    <option value="t1" selected>Наличными</option>
						    <option value="t2">Наличными</option>
						    <option value="t3">Наличными</option>
						    <option value="t4">Наличными</option>
					   </select></p>
				   </form>
				   <h5 class="delivery">ДОСТАВКА ОТ <span class="shipping_cost">30 </span>ГРН.</h5>
				</div>
			  </div>
			  <div class="form_btn">
	                <button class="form_btn__bt">
	                        ПОДТВЕРДИТЬ И ЗАКАЗАТЬ
	                </button>
              </div>
		</div>
    </form>


		 <div class="sentence">
             <p><span>Для получения постоянных скидок и других дополнительных возможностей, пожалуйста, воспользуйтесь <a href="" class="linkform">расширенной формой заказа</a>.</span></p>
         </div>
	</div>
</div>
	